<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Error</title>
    <link rel="stylesheet" href="/styles/basicStyles.css" />
  </head>
  <body>
    <h1 class="error">Error</h1>
    <p><%= username %> has no access!</p>
    <button>
      <a href="/">Home</a>
    </button>
  </body>
</html>
